# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/__pycache__
/backend/routes/__pycache__
/backend/src/common/__pycache__
/backend/src/connections/__pycache__
/backend/src/endpoints/__pycache__
./log.txt
.pytest_cache

#backgroundFile


# testing


# misc

